docs/platform-implementations/n8n-workflow-template.json
{
    "name": "Personal Agent - Optimize My Resume",
    "nodes": [
        {
            "parameters": {
                "public": true,
                "mode": "chat",
                "options": {}
            },
            "id": "a1b2c3d4-e5f6-7890-abcd-ef1234567890",
            "name": "Chat Trigger",
            "type": "n8n-nodes-base.chatTrigger",
            "typeVersion": 1.1,
            "position": [
                380,
                240
            ],
            "webhookId": "d1e2f3a4-b5c6-7890-1234-567890abcdef"
        },
        {
            "parameters": {
                "fileSelector": "/data/optimize-my-resume/Project-GUI-Instructions.md",
                "options": {
                    "encoding": "utf8"
                }
            },
            "id": "b2c3d4e5-f6a7-8901-bcde-f23456789012",
            "name": "Read Project Instructions",
            "type": "n8n-nodes-base.readWriteFile",
            "typeVersion": 1,
            "position": [
                600,
                240
            ]
        },
        {
            "parameters": {
                "promptType": "define",
                "text": "={{ $json.chatInput }}",
                "options": {
                    "systemMessage": "={{ $('Read Project Instructions').item.json.data }}"
                }
            },
            "id": "c3d4e5f6-a7b8-9012-cdef-345678901234",
            "name": "AI Agent",
            "type": "@n8n/n8n-nodes-langchain.agent",
            "typeVersion": 3.1,
            "position": [
                820,
                240
            ]
        }
    ],
    "connections": {
        "Chat Trigger": {
            "main": [
                [
                    {
                        "node": "Read Project Instructions",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Read Project Instructions": {
            "main": [
                [
                    {
                        "node": "AI Agent",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "settings": {
        "executionOrder": "v1"
    },
    "staticData": null,
    "tags": [],
    "triggerCount": 0,
    "versionId": "12345678-90ab-cdef-1234-567890abcdef"
}